<div class="container-fluid shadow-sm" style="margin-top: 10px; border: 1px solid #BDC3C7;">
    <div class="row text-center shadow-sm">
      <div class="col-md-12" style="background-color: #E5E7E9; color: black; border: 1px solid #BDC3C7;">
        <h1>PAGINA INICIAL</h1>
      </div>
      <p style="margin-top: 10px;">
          Site desenvolido por Rafael Perbeline usando a tecnologia de Angular 13.3.3, node 16.14.2 para a busca de clientes da empresa FrontFarm
      </p>
    </div>
  </div>